Repository Automattic/Gravatar-SDK-iOS, pull requests merged in 2024-12, with the labels that each got.

#584 Add a new toast type "warning"
  Sources/GravatarUI/DesignSystem/UIColor+DesignSystem.swift
  Sources/GravatarUI/SwiftUI/Toast/Toast.swift
  Sources/GravatarUI/SwiftUI/Toast/ToastManager.swift
Labels: enhance, [Feature] Gravatar-QuickEditor, [Priority] Medium

#589 QE: Avatar Rating
  Sources/Gravatar/Network/Services/ProfileService.swift
  Sources/GravatarUI/Avatar+AvatarRating.swift
  Sources/GravatarUI/Resources/en.lproj/Localizable.strings
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarAction.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarImageModel.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerViewModel.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/Views/AvatarPickerAvatarView.swift
  Sources/TestHelpers/Bundle+ResourceBundle.swift
  Sources/TestHelpers/Resources/avatarSetRatingResponse.json
  Tests/GravatarTests/ProfileServiceTests.swift
  Tests/GravatarUITests/AvatarPickerViewModelTests.swift
  openapi/openapi.yaml
Labels: enhance

#597 New `updating` method for avatar model changes
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarGridModel.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarImageModel.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerViewModel.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/Views/AltTextEditorView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/Views/AvatarGrid.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/Views/AvatarPickerAvatarView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/Views/HorizontalAvatarGrid.swift
  Tests/GravatarUITests/AvatarGridModelTests.swift
  Tests/GravatarUITests/AvatarImageModelTests.swift
Labels: refactor

#598 Remove the 800ms delay on avatarUpdatedHandler
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerView.swift
Labels: enhance, [Feature] Gravatar-QuickEditor, [Priority] Medium

#591 Show no selected avatar warning
  Sources/GravatarUI/Resources/en.lproj/Localizable.strings
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerProfileView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/Views/AvatarPickerAvatarView.swift
  Sources/GravatarUI/SwiftUI/AvatarView.swift
  Sources/GravatarUI/SwiftUI/Toast/Toast.swift
  Sources/GravatarUI/SwiftUI/Toast/ToastManager.swift
  Sources/GravatarUI/SwiftUI/View+Additions.swift
Labels: enhance, [Feature] Gravatar-QuickEditor, [Priority] Medium

#596 Update the cropper to have both circle and square guidelines
  Sources/GravatarUI/ImageCropper/CropFrameOverlayView.swift
  Tests/GravatarUITests/CropFrameOverlayViewTests.swift
  Tests/GravatarUITests/UIImageAdditionsTests.swift
  Tests/GravatarUITests/__Snapshots__/CropFrameOverlayViewTests/testCropFrameOverlay.1.png
Labels: enhance, [Feature] Gravatar-QuickEditor, [Priority] Medium

#590 Alt text editor
  Sources/Gravatar/Network/Services/AvatarService.swift
  Sources/Gravatar/Network/Services/ProfileService.swift
  Sources/GravatarUI/Resources/en.lproj/Localizable.strings
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarAction.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarGridModel.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarImageModel.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerViewModel.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/Views/AltTextEditorView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/Views/AvatarGrid.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/Views/AvatarPickerAvatarView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/Views/HorizontalAvatarGrid.swift
  Sources/GravatarUI/SwiftUI/GravatarNavigationModifier.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditor.swift
  Sources/GravatarUI/SwiftUI/View+Additions.swift
  Tests/GravatarTests/AvatarServiceTests.swift
  Tests/GravatarTests/ProfileServiceTests.swift
  Tests/GravatarUITests/AvatarGridModelTests.swift
  Tests/GravatarUITests/AvatarImageModelTests.swift
  Tests/GravatarUITests/AvatarPickerViewModelTests.swift
Labels: [Feature] Gravatar-QuickEditor

#602 Alt text tests
  Sources/TestHelpers/Bundle+ResourceBundle.swift
  Sources/TestHelpers/Resources/avatarSetAltTextResponse.json
  Tests/GravatarTests/AvatarServiceTests.swift
  Tests/GravatarUITests/AvatarImageModelTests.swift
  Tests/GravatarUITests/AvatarPickerViewModelTests.swift
Labels: enhance

#600 Add a sample snapshot test for a SwiftUI View
  Tests/GravatarUITests/AvatarPickerProfileViewTests.swift
  Tests/GravatarUITests/Snapshotting+Additions.swift
  Tests/GravatarUITests/__Snapshots__/AvatarPickerProfileViewTests/testAvatarPickerProfileView.1.png
  Tests/GravatarUITests/__Snapshots__/AvatarPickerProfileViewTests/testAvatarPickerProfileView.2.png
Labels: CI/CD, Tech Debt

#605 Alt text editor height
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/Views/AltTextEditorView.swift
  Sources/GravatarUI/SwiftUI/GravatarNavigationModifier.swift
  Sources/GravatarUI/SwiftUI/PreferenceKeys.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditor.swift
  Sources/GravatarUI/SwiftUI/View+Additions.swift
Labels: [Feature] Gravatar-QuickEditor

#599 Update to XCode 16.2
  .buildkite/shared-pipeline-vars
  .github/workflows/docc.yml
  fastlane/Fastfile
Labels: CI/CD, tooling

#601 Update strings in base locale
  Sources/GravatarUI/Resources/en.lproj/Localizable.strings
Labels: Localization

#611 Avoiding overlapping of alt text with the counter text
  Sources/GravatarUI/SwiftUI/AvatarPicker/Views/AltTextEditorView.swift
Labels: [Feature] Gravatar-QuickEditor
