Repository Automattic/Gravatar-SDK-iOS, pull requests merged in 2025-05, with the labels that each got.

#727 Fallback to the public profile endpoint if there's no token
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerViewModel.swift
Labels: Bug, [Feature] Gravatar-QuickEditor, [Priority] Medium

#728 Fix truncated text content in the QuickEditor
  Sources/GravatarUI/SwiftUI/AvatarPicker/Views/ContentLoadingErrorView.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditorNoticeView.swift
Labels: Bug, [Feature] Gravatar-QuickEditor, [Priority] Medium

#724 Centralize detent calculation in `QEDetents.detent(...)` again
  Sources/GravatarUI/QuickEditor/QuickEditorViewController.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerContentLayout.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditor.swift
  Sources/GravatarUI/SwiftUI/QEDetent.swift
  Sources/GravatarUI/SwiftUI/QuickEditorModalPresentationModifier.swift
  Sources/GravatarUI/SwiftUI/View+Additions.swift
Labels: Enhance, [Feature] Gravatar-QuickEditor, [Priority] Medium

#729 Release/3.3.0 backmerge 2
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerViewModel.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/Views/ContentLoadingErrorView.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditorNoticeView.swift
Labels: [Feature] Gravatar-QuickEditor

#731 Add about fields definitions and enhance demo app to select them
  Demo/Demo/Gravatar-Demo/DemoQuickEditorViewController.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/Controls/AboutInfoChecklistView.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/DemoProfileEditorView.swift
  Demo/Gravatar-Demo.xcodeproj/project.pbxproj
  Sources/GravatarUI/QuickEditor/AboutInfoField.swift
  Sources/GravatarUI/QuickEditor/QuickEditorConfiguration.swift
  Sources/GravatarUI/Resources/en.lproj/Localizable.strings
Labels: [Feature] Gravatar-QuickEditor, [Priority] Medium

#730 About editor base networking
  Sources/Gravatar/Network/Services/ProfileService.swift
  Sources/Gravatar/OpenApi/Generated/Interest.swift
  Sources/Gravatar/OpenApi/Generated/UpdateProfileRequest.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditor.swift
  Tests/GravatarTests/ProfileServiceTests.swift
  access-control-modifier.swift
  openapi/openapi.yaml
Labels: [Priority] High, QE About editing

#732 Add about info UI
  Demo/Demo/Gravatar-Demo/DemoQuickEditorViewController.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/DemoProfileEditorView.swift
  Sources/GravatarUI/Base/Array+Additions.swift
  Sources/GravatarUI/QuickEditor/AboutInfoField.swift
  Sources/GravatarUI/Resources/en.lproj/Localizable.strings
  Sources/GravatarUI/SwiftUI/AboutEditor/AboutEditorView.swift
  Sources/GravatarUI/SwiftUI/AboutEditor/AboutInfoModel.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerViewModel.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditor.swift
  Tests/GravatarUITests/AboutInfoFieldTests.swift
  Tests/GravatarUITests/AboutInfoModelTests.swift
Labels: Enhance, [Feature] Gravatar-QuickEditor, [Priority] Medium

#735 Use associated values for scopes
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditor.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditorScopeOption.swift
  Sources/GravatarUI/SwiftUI/QEDetent.swift
  Sources/GravatarUI/SwiftUI/QuickEditorModalPresentationModifier.swift
Labels: [Feature] Gravatar-QuickEditor, [Priority] Medium

#733 Adding buttons on the profile card to switch scopes
  Demo/Demo/Gravatar-Demo/DemoQuickEditorViewController.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/DemoProfileEditorView.swift
  Sources/GravatarUI/QuickEditor/QuickEditorConfiguration.swift
  Sources/GravatarUI/Resources/Media.xcassets/pencil.imageset/Contents.json
  Sources/GravatarUI/Resources/Media.xcassets/pencil.imageset/pencil.pdf
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerProfileView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerProfileViewWrapper.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerViewModel.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditor.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditorNoticeView.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditorScopeOption.swift
  Sources/GravatarUI/SwiftUI/QEDetent.swift
  Sources/GravatarUI/SwiftUI/QuickEditorModalPresentationModifier.swift
  Tests/GravatarUITests/AvatarPickerProfileViewTests.swift
  Tests/GravatarUITests/__Snapshots__/QuickEditorNoticeViewTests/testQuickEditorNoticeView.1.png
  Tests/GravatarUITests/__Snapshots__/QuickEditorNoticeViewTests/testQuickEditorNoticeViewWithError.1.png
  Tests/GravatarUITests/__Snapshots__/QuickEditorNoticeViewTests/testQuickEditorNoticeViewWithoutToken.1.png
Labels: [Feature] Gravatar-QuickEditor, [Priority] High, QE About editing

#737 Release 3.3.0
  Sources/Gravatar/Resources/SDKInfo.plist
  Sources/GravatarUI/Resources/ar.lproj/Localizable.strings
  Sources/GravatarUI/Resources/de.lproj/Localizable.strings
  Sources/GravatarUI/Resources/es.lproj/Localizable.strings
  Sources/GravatarUI/Resources/fr.lproj/Localizable.strings
  Sources/GravatarUI/Resources/he.lproj/Localizable.strings
  Sources/GravatarUI/Resources/id.lproj/Localizable.strings
  Sources/GravatarUI/Resources/it.lproj/Localizable.strings
  Sources/GravatarUI/Resources/ja.lproj/Localizable.strings
  Sources/GravatarUI/Resources/ko.lproj/Localizable.strings
  Sources/GravatarUI/Resources/nl.lproj/Localizable.strings
  Sources/GravatarUI/Resources/pt-BR.lproj/Localizable.strings
  Sources/GravatarUI/Resources/ru.lproj/Localizable.strings
  Sources/GravatarUI/Resources/sv.lproj/Localizable.strings
  Sources/GravatarUI/Resources/tr.lproj/Localizable.strings
  Sources/GravatarUI/Resources/zh-Hans.lproj/Localizable.strings
  Sources/GravatarUI/Resources/zh-Hant.lproj/Localizable.strings
  version.rb
Labels: release

#738 Adding an initial loading state for the about editor
  Sources/GravatarUI/SwiftUI/AboutEditor/AboutEditorView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerView.swift
  Sources/GravatarUI/SwiftUI/LoadingIndicatorView.swift
  Tests/GravatarUITests/AboutEditorViewTests.swift
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testLoadingState.1.png
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testLoadingState.2.png
Labels: [Feature] Gravatar-QuickEditor, [Priority] High, QE About editing

#742 About Editor save button improvement
  Sources/GravatarUI/SwiftUI/AboutEditor/AboutEditorView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerViewModel.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditor.swift
  Tests/GravatarUITests/AboutEditorViewTests.swift
  Tests/GravatarUITests/AvatarPickerViewModelTests.swift
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testAboutEditorViewAllFieldsFixedHeight.1.png
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testAboutEditorViewAllFieldsFixedHeight.2.png
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testAboutEditorViewAllFieldsIntrinsicHeight.1.png
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testAboutEditorViewAllFieldsIntrinsicHeight.2.png
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testAboutEditorViewOneFieldFixedHeight.1.png
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testAboutEditorViewOneFieldFixedHeight.2.png
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testAboutEditorViewPersonalFieldsIntrinsicHeight.1.png
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testAboutEditorViewPersonalFieldsIntrinsicHeight.2.png
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testAboutEditorViewProfessionalFieldsIntrinsicHeight.1.png
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testAboutEditorViewProfessionalFieldsIntrinsicHeight.2.png
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testAboutEditorWithUnsavedChanges.1.png
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testAboutEditorWithUnsavedChanges.2.png
Labels: [Feature] Gravatar-QuickEditor, [Priority] High, QE About editing

#736 Adding alert when closing the editor with unsaved changes
  Demo/Demo/Gravatar-Demo/DemoQuickEditorViewController.swift
  Sources/GravatarUI/QuickEditor/QuickEditorViewController.swift
  Sources/GravatarUI/Resources/en.lproj/Localizable.strings
  Sources/GravatarUI/SwiftUI/DismissDetectingModifier.swift
  Sources/GravatarUI/SwiftUI/ModalPresentationModifier.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditor.swift
  Sources/GravatarUI/SwiftUI/QuickEditorModalPresentationModifier.swift
Labels: [Feature] Gravatar-QuickEditor, [Priority] High, QE About editing

#746 About editor error handling
  Sources/GravatarUI/Base/Result+Gravatar.swift
  Sources/GravatarUI/Resources/en.lproj/Localizable.strings
  Sources/GravatarUI/SwiftUI/AboutEditor/AboutEditorView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerViewModel.swift
  Sources/GravatarUI/SwiftUI/OAuthSession/ScopeLoadingErrorView.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditor.swift
  Tests/GravatarUITests/AboutEditorViewTests.swift
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testLoadingErrorState.1.png
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testLoadingErrorState.2.png
Labels: [Feature] Gravatar-QuickEditor, [Priority] High, QE About editing

#751 Public Interface to select initial Page
  Demo/Demo/Gravatar-Demo/DemoQuickEditorViewController.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/Controls/QEInitialPagePickerRow.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/DemoProfileEditorView.swift
  Demo/Gravatar-Demo.xcodeproj/project.pbxproj
  Sources/GravatarUI/QuickEditor/QuickEditorConfiguration.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditor.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditorScopeOption.swift
Labels: [Feature] Gravatar-QuickEditor, [Priority] High, QE About editing

#748 Returning Profile after an update on about editor
  Demo/Demo/Gravatar-Demo/DemoQuickEditorViewController.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/DemoProfileEditorView.swift
  Sources/GravatarUI/SwiftUI/AboutEditor/AboutEditorView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerViewModel.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditor.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditorUpdate.swift
  Sources/TestHelpers/URLSessionMock.swift
  Tests/GravatarUITests/AboutEditorViewTests.swift
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testAuthErrorStateAfterSave.1.png
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testAuthErrorStateAfterSave.2.png
Labels: [Feature] Gravatar-QuickEditor, [Priority] High, QE About editing

#750 Add detent calculations for about and avatar scope
  Sources/GravatarUI/QuickEditor/QuickEditorViewController.swift
  Sources/GravatarUI/SwiftUI/AboutEditor/AboutEditorView.swift
  Sources/GravatarUI/SwiftUI/LoadingIndicatorView.swift
  Sources/GravatarUI/SwiftUI/PreferenceKeys.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditor.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditorScopeOption.swift
  Sources/GravatarUI/SwiftUI/QEDetent.swift
  Sources/GravatarUI/SwiftUI/QuickEditorModalPresentationModifier.swift
Labels: Enhance, [Feature] Gravatar-QuickEditor, [Priority] Medium

#753 Implement about detents
  Demo/Demo/Gravatar-Demo/DemoQuickEditorViewController.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/Controls/QEVerticalStylePickerRow.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/DemoProfileEditorView.swift
  Sources/GravatarUI/QuickEditor/QuickEditorConfiguration.swift
  Sources/GravatarUI/QuickEditor/SheetPresentationStyle.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditorScopeOption.swift
  Sources/GravatarUI/SwiftUI/QEDetent.swift
  Sources/GravatarUI/SwiftUI/QuickEditorModalPresentationModifier.swift
Labels: Enhance, [Feature] Gravatar-QuickEditor, [Priority] Medium

#754 Remove the rogue button
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerProfileView.swift
  Tests/GravatarUITests/__Snapshots__/QuickEditorNoticeViewTests/testQuickEditorNoticeView.1.png
  Tests/GravatarUITests/__Snapshots__/QuickEditorNoticeViewTests/testQuickEditorNoticeViewWithError.1.png
  Tests/GravatarUITests/__Snapshots__/QuickEditorNoticeViewTests/testQuickEditorNoticeViewWithoutToken.1.png
Labels: Bug, [Feature] Gravatar-QuickEditor, [Priority] Medium

#752 Avoid scrolling of frame on Avatar Picker
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerView.swift
Labels: [Feature] Gravatar-QuickEditor, [Priority] High

#755 Update profile card background in dark mode
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerProfileViewWrapper.swift
  Tests/GravatarUITests/__Snapshots__/QuickEditorNoticeViewTests/testQuickEditorNoticeView.2.png
  Tests/GravatarUITests/__Snapshots__/QuickEditorNoticeViewTests/testQuickEditorNoticeViewWithError.2.png
  Tests/GravatarUITests/__Snapshots__/QuickEditorNoticeViewTests/testQuickEditorNoticeViewWithoutToken.2.png
Labels: Enhance, [Feature] Gravatar-QuickEditor, [Priority] Medium

#757 Fixes contextual menu iPad presentation crashes
  Demo/Demo/Gravatar-Demo/DemoAvatarDownloadViewController.swift
  Demo/Demo/Gravatar-Demo/DemoBaseProfileViewController.swift
  Demo/Demo/Gravatar-Demo/DemoRemoteSVGViewController.swift
  Demo/Demo/Gravatar-Demo/DemoUIImageViewExtensionViewController.swift
  Demo/Demo/Gravatar-Demo/DemoUploadImageViewController.swift
Labels: Bug, demoapp, [Priority] High

#756 Hide the profile card on compact height and keyboard present
  Sources/GravatarUI/SwiftUI/AboutEditor/AboutEditorView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerViewModel.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditor.swift
Labels: [Feature] Gravatar-QuickEditor, [Priority] High, QE About editing

#759 Avoid split navigation on regular horizontal size class
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditor.swift
Labels: Bug, [Feature] Gravatar-QuickEditor, [Priority] High

#761 Adding first and last name fields to About Editor
  Demo/Demo/Gravatar-Demo/DemoQuickEditorViewController.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/Controls/AboutInfoChecklistView.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/DemoProfileEditorView.swift
  Sources/Gravatar/OpenApi/Generated/UpdateProfileRequest.swift
  Sources/GravatarUI/QuickEditor/AboutInfoField.swift
  Sources/GravatarUI/Resources/en.lproj/Localizable.strings
  Sources/GravatarUI/SwiftUI/AboutEditor/AboutEditorView.swift
  Sources/GravatarUI/SwiftUI/AboutEditor/AboutInfoModel.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerViewModel.swift
  Tests/GravatarUITests/AboutEditorViewTests.swift
  Tests/GravatarUITests/AboutInfoFieldTests.swift
  Tests/GravatarUITests/AboutInfoModelTests.swift
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testAboutEditorViewAllFieldsIntrinsicHeight.1.png
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testAboutEditorViewAllFieldsIntrinsicHeight.2.png
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testAboutEditorViewExtraFieldsIntrinsicHeight.1.png
  Tests/GravatarUITests/__Snapshots__/AboutEditorViewTests/testAboutEditorViewExtraFieldsIntrinsicHeight.2.png
  openapi/openapi.yaml
Labels: [Feature] Gravatar-QuickEditor, [Priority] High, QE About editing

#767 Fix vertical padding above the vertical avatar grid
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerView.swift
Labels: Bug, [Feature] Gravatar-QuickEditor, [Priority] Medium

#769 Updating docs with API changes
  Sources/GravatarUI/GravatarUI.docc/QuickEditorArticle.md
  Sources/GravatarUI/GravatarUI.docc/Resources/QEExamples/about-editor-intrinsic@2x.png
  Sources/GravatarUI/GravatarUI.docc/Resources/QEExamples/about-editor-intrinsic~dark@2x.png
  Sources/GravatarUI/GravatarUI.docc/Resources/QEExamples/about-editor-medium@2x.png
  Sources/GravatarUI/GravatarUI.docc/Resources/QEExamples/about-editor-medium~dark@2x.png
  Sources/GravatarUI/GravatarUI.docc/Resources/QEExamples/about-editor@2x.png
  Sources/GravatarUI/GravatarUI.docc/Resources/QEExamples/about-editor~dark@2x.png
  Sources/GravatarUI/GravatarUI.docc/Resources/QEExamples/avatar-and-about@2x.gif
  Sources/GravatarUI/GravatarUI.docc/Resources/QEExamples/avatar-and-about~dark@2x.gif
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditorScopeOption.swift
Labels: documentation, [Feature] Gravatar-QuickEditor, [Priority] Medium, QE About editing
