Repository Automattic/Gravatar-SDK-iOS, pull requests merged in 2025-04, with the labels that each got.

#685 Profile cards SwiftUI wrapper - small demo views changes
  Demo/Demo/Gravatar-Demo/SwiftUI/DemoProfileEditorView.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/DemoProfileView.swift
Labels: [Priority] Low

#668 Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enhancement.md
Labels: documentation

#678 Represent profile views in SwiftUI
  Demo/Demo/Gravatar-Demo/SwiftUI/ContentView.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/DemoProfileEditorView.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/DemoProfileView.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/ProfileViewTypePickerRow.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/SafariView.swift
  Demo/Gravatar-Demo.xcodeproj/project.pbxproj
  Sources/GravatarUI/SwiftUI/IntrinsicHeightView.swift
  Sources/GravatarUI/SwiftUI/ProfileView/ProfileViewRepresentable.swift
Labels: Enhance, [Feature] Gravatar-UI, [Priority] Medium

#688 Generate the new openapi models
  Sources/Gravatar/OpenApi/Generated/UpdateProfileRequest.swift
  access-control-modifier.swift
  openapi/GravatarOpenAPIClient/.openapi-generator/FILES
  openapi/openapi.yaml
Labels: Enhance, Networking, [Feature] Gravatar-QuickEditor, [Priority] Medium

#689 QE: Add the new authorized profile endpoint to fetch the profile
  Sources/Gravatar/Network/Services/ProfileService.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerViewModel.swift
  Tests/GravatarUITests/AvatarPickerViewModelTests.swift
Labels: Enhance, [Feature] Gravatar-QuickEditor, [Priority] Medium

#693 Propagate color scheme to QE sheet
  Demo/Demo/Gravatar-Demo/SwiftUI/DemoProfileEditorView.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/QEColorSchemePickerRow.swift
  Sources/GravatarUI/SwiftUI/AvatarPickerModalPresentationModifier.swift
  Sources/GravatarUI/SwiftUI/ModalPresentationModifier.swift
Labels: Bug, [Feature] Gravatar-QuickEditor, [Priority] Medium

#691 Merge `Avatar picker view` demo page into `Profile editor with oauth`
  Demo/Demo/Gravatar-Demo/SwiftUI/ContentView.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/DemoAvatarPickerView.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/DemoProfileEditorView.swift
  Demo/Gravatar-Demo.xcodeproj/project.pbxproj
Labels: Enhance, [Feature] Gravatar-QuickEditor, demoapp, [Priority] Medium

#695 Custom image editor injection from UIKit QE presenter
  Demo/Demo/Gravatar-Demo/DemoQuickEditorViewController.swift
  Sources/GravatarUI/QuickEditor/QuickEditorConfiguration.swift
  Sources/GravatarUI/QuickEditor/QuickEditorViewController.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/ImageEditorView.swift
Labels: [Feature] Gravatar-QuickEditor, [Priority] Medium

#690 Improving VoiceOver on the Avatars grid.
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarImageModel.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/Views/AvatarPickerAvatarView.swift
  Sources/GravatarUI/SwiftUI/Toast/ToastManager.swift
Labels: [Priority] Medium, Accessibility

#702 Improve Voice Over on the avatar image.
  Sources/GravatarUI/SwiftUI/AvatarPicker/Views/AvatarPickerAvatarView.swift
Labels: [Priority] Medium, Accessibility

#701 QE: Add new public method to enable ephemeral web browser session
  Demo/Demo/Gravatar-Demo/DemoQuickEditorViewController.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/DemoProfileEditorView.swift
  Sources/GravatarUI/SwiftUI/OAuthSession/OAuthSession.swift
  Sources/GravatarUI/SwiftUI/OAuthSession/OldAuthenticationSession.swift
  Tests/GravatarUITests/OAuthSessionTests.swift
Labels: Enhance, [Feature] Gravatar-QuickEditor, [Priority] Medium

#703 Adding `ProfileViewRepresentable` entry to `ProfileViews.md`
  Sources/GravatarUI/GravatarUI.docc/ProfileViews.md
  Sources/GravatarUI/SwiftUI/ProfileView/ProfileViewRepresentable.swift
Labels: documentation, [Priority] Medium

#705 Improve inline docs of `QuickEditorPresenter`
  Sources/GravatarUI/QuickEditor/QuickEditorViewController.swift
Labels: documentation, [Priority] Medium

#716 Make OAuthSession.shared public
  Demo/Demo/Gravatar-Demo/DemoQuickEditorViewController.swift
  Demo/Demo/Gravatar-Demo/SceneDelegate.swift
  Sources/GravatarUI/SwiftUI/OAuthSession/OAuthSession.swift
  Tests/GravatarUITests/OAuthSessionTests.swift
Labels: Enhance, [Feature] Gravatar-QuickEditor, [Priority] Medium

#717 Make API calls public
  Sources/Gravatar/Network/AvatarType.swift
  Sources/Gravatar/Network/Services/AvatarService.swift
  Sources/Gravatar/Network/Services/Model/Avatar+AvatarDetails.swift
  Sources/Gravatar/Network/Services/Model/AvatarDetails.swift
  Sources/Gravatar/Network/Services/Model/AvatarRating+Additions.swift
  Sources/Gravatar/Network/Services/ProfileService.swift
  Sources/Gravatar/OpenApi/Generated/Avatar.swift
  Sources/Gravatar/OpenApi/Generated/AvatarRating.swift
  Sources/Gravatar/OpenApi/Generated/UpdateAvatarRequest.swift
  Sources/Gravatar/Options/Rating.swift
  Sources/GravatarUI/Avatar+AvatarRating.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarAction.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarImageModel.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerViewModel.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/Views/AvatarPickerAvatarView.swift
  Sources/TestHelpers/TestImageProcessor.swift
  Tests/GravatarTests/AvatarServiceTests.swift
  Tests/GravatarUITests/AvatarImageModelTests.swift
  Tests/GravatarUITests/AvatarPickerViewModelTests.swift
  access-control-modifier.swift
Labels: Enhance, [Feature] Gravatar-QuickEditor, [Priority] Medium

#721 Release/3.3.0 backmerge 1
  Demo/Demo/Gravatar-Demo/DemoImageCropperViewController.swift
  Demo/Demo/Gravatar-Demo/DemoProfilePresentationStylesViewController.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/DemoAvatarView.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/TestImageCropper.swift
  Sources/Gravatar/Network/AvatarType.swift
  Sources/Gravatar/Network/Services/AvatarService.swift
  Sources/Gravatar/Network/Services/Model/Avatar+AvatarDetails.swift
  Sources/Gravatar/Network/Services/Model/AvatarDetails.swift
  Sources/Gravatar/Network/Services/Model/AvatarRating+Additions.swift
  Sources/Gravatar/Network/Services/ProfileService.swift
  Sources/Gravatar/OpenApi/Generated/Avatar.swift
  Sources/Gravatar/OpenApi/Generated/AvatarRating.swift
  Sources/Gravatar/OpenApi/Generated/UpdateAvatarRequest.swift
  Sources/Gravatar/Options/Rating.swift
  Sources/GravatarUI/Avatar+AvatarRating.swift
  Sources/GravatarUI/Resources/en.lproj/Localizable.strings
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarAction.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarImageModel.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerProfileView.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerViewModel.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/Views/AvatarPickerAvatarView.swift
  Sources/TestHelpers/TestImageProcessor.swift
  Tests/GravatarTests/AvatarServiceTests.swift
  Tests/GravatarUITests/AvatarImageModelTests.swift
  Tests/GravatarUITests/AvatarPickerViewModelTests.swift
  Tests/GravatarUITests/OAuthSessionTests.swift
  access-control-modifier.swift
Labels: release, [Feature] Gravatar-QuickEditor

#718 About editor scope
  Demo/Demo/Gravatar-Demo/DemoQuickEditorViewController.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/Controls/AvatarPickerLayoutOptions.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/Controls/QEColorSchemePickerRow.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/Controls/QEContentLayoutPickerRow.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/Controls/QEScopesPickerRow.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/Controls/QEVerticalStylePickerRow.swift
  Demo/Demo/Gravatar-Demo/SwiftUI/DemoProfileEditorView.swift
  Demo/Gravatar-Demo.xcodeproj/project.pbxproj
  Sources/GravatarUI/QuickEditor/QuickEditorConfiguration.swift
  Sources/GravatarUI/QuickEditor/QuickEditorViewController.swift
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerContentLayout.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditor.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditorScopeOption.swift
  Sources/GravatarUI/SwiftUI/QuickEditorModalPresentationModifier.swift
  Sources/GravatarUI/SwiftUI/View+Additions.swift
Labels: [Priority] High, QE About editing

#723 About editor: Reuse QE top views
  Sources/GravatarUI/SwiftUI/AvatarPicker/AvatarPickerView.swift
  Sources/GravatarUI/SwiftUI/ProfileEditor/QuickEditor.swift
Labels: [Priority] High, QE About editing
